/*
Colors:
rgba(62, 140, 53, 0.85) - bright
rgba(14, 133, 14, 0.9)
rgba(9, 82, 9, 0.9)
rgba(4, 36, 4, 0.72) / rgba(4, 36, 4, 0.4)- dark
*/
* {
 font-size: 100%;
 font-weight: bold;
 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2{
    font-size: 130%;
}

body {
    background-image: url("images/mixedCultureBG.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    box-sizing: border-box;
    text-align: center;
}

#NavLEqualsMainL{
    display: flex;
}

nav {
    box-sizing: border-box;
    background-color: rgba(20, 100, 18, 0.9);
    text-align: left;
    padding-left: 0.3cm;    
    padding-right: 0.3cm;
    padding-bottom: 0.5cm;
    width: 20%;
    float: left;
    border-radius: 20px;
}

nav > h2 {
    text-align: center;
}

a > .Nav-Button{
    border-radius: 15px;
    background-color: rgba(4, 36, 4, 0.72);
    text-align: center;
    padding: 0.2cm 0;
    margin: 0.2cm 0;
}

a > .Selected-Button{
    border-radius: 15px;
    background-color: rgba(4, 36, 4, 0.4);
    text-align: center;
    padding: 0.2cm 0;
    margin: 0.2cm 0;
}

a > .Nav-Button:hover, a > .Selected-Button:hover{
    background-color: rgba(4, 36, 4, 0.4);
}

a:link {
    color: black;
    text-decoration: none;
    font-size: 125%;
}

a:visited {
    color: black;
    font-size: 125%;
    text-decoration: none;
}

main {
    box-sizing: border-box;
    background-color: rgba(62, 140, 53, 0.85);
    text-align: left;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-bottom: 1cm;
    width: 80%;
    float: right;
    border-radius: 20px;
}

.Description {
    box-sizing: border-box;
    background-color: rgba(4, 36, 4, 0.4);
    border-radius: 20px;
    font-size: medium;
    text-align: justify;
    padding: 0.1cm 0.5cm;
    margin-top: 1cm;
}

footer{
    box-sizing: content-box;
    background-color: rgba(30, 130, 30, 0.9);
    text-align: center;
    width: 100%;
    float: right;
    margin-bottom: 0.3cm;
    border-radius: 20px;
}

a > .Switch-Button{
    border-radius: 15px;
    background-color: rgba(4, 36, 4, 0.72);
    text-align: center;
    padding: 0.2cm 0;
    width: 49.5% !important;
    display: inline-table;
}

a > .Selected-Switch-Button{
    border-radius: 15px;
    background-color: rgba(4, 36, 4, 0.4);
    text-align: center;
    padding: 0.2cm 0;
    width: 49.5% !important;
    display: inline-table;
}

a > .Switch-Button:hover, a > .Selected-Switch-Button:hover{
    background-color: rgba(4, 36, 4, 0.4);
}

.Single, .Dual {
    display: flex;
    padding-top: 1cm;
}

.Dual > .Left {
    box-sizing: border-box;
    background-color: rgba(0, 26, 0, 0.4);
    border-radius: 15px;
    margin-right: 0.5cm;
    width: 50%;
    float: left;
}

.Dual > .Right {
    box-sizing: border-box;
    background-color: rgba(0, 26, 0, 0.4);
    border-radius: 15px;
    margin-left: 0.5cm;
    width: 50%;
    float: right;
}
/*------------------------------------------------Primefaces Fix-----------------------------------*/
.button {
    border-radius: 5px;
    border: none;
    padding: 0cm 0.3cm;
    margin: 0.1cm;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(4, 36, 4, 0.72);
}

.smallbutton {
    border-radius: 5px;
    border: none;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(4, 36, 4, 0.72);
}

.button:hover, .smallbutton:hover {
    background-color: rgba(4, 36, 4, 0.4);
    cursor: pointer;
}
/*Autocomplete Input*/
.ui-autocomplete input{
    background-color: rgb(217, 255, 179);
    border-radius: 10px;
    border: none;
    margin-left: 0.1cm;
    padding-left: 0.2cm;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: black;
}
/*Autocomplete Button*/
.ui-autocomplete button{
    background-color: rgba(4, 36, 4, 1);
    border-radius: 0 9px 9px 0;
    border: 1px solid rgba(4, 36, 4, 0.72);
}
.ui-autocomplete button:hover{
    background-color: rgba(4, 36, 4, 0.9);
    border-radius: 0 9px 9px 0;
    border: 1px solid rgba(4, 36, 4, 0.72);
}
/*Dropdown Background*/
.panel .ui-autocomplete-list {
   font-size: 75%;
   background-color: rgb(217, 255, 179);
   padding: 1px;
   border-radius: 5px;
}
/*Dropdown Labels*/
.ui-widget-header {
    background: linear-gradient(rgba(4, 36, 4, 0.72), rgba(4, 36, 4, 0.4));
    border-radius: 5px;
}
/*Dropdown Selection Hover*/
.ui-widget-content .ui-state-highlight {
    background-color: rgba(4, 36, 4, 0.4);
    border-radius: 5px;
}
/*Confirm*/
.ui-dialog-titlebar {
    text-align: center;
    font-weight: bold;
}
/*Icon*/
.ui-icon { width: 16px; height: 16px; background-image: url("images/ui-icons_black_256x240.png"); }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-close { background-position: -80px -128px; }

/*Slide Menu*/
.ui-slidemenu-wrapper {
    min-height: 450px;
}

.ui-slidemenu-content {
    min-height: 440px;
}

.ui-menulist {
    min-width: 220px;
}

.ui-menuitem:hover {
    background-color: rgba(4, 36, 4, 0.4);
    border-radius: 5px;
}

.ui-slidemenu-backward {
    background-color: rgba(4, 36, 4, 0.4);
    background-image: none;
    border-radius: 5px;
}

.ui-slidemenu-backward:hover {
    background-color: rgba(4, 36, 4, 0.3);
}
/*----------------------------------------------------------------------------*/
#Load-Overview{
    display: flex;
}

#Loader {
    box-sizing: border-box;
    text-align: left;
    font-size: small;
    margin-right: 0.5cm;
    float: left;
    width: 30%;
}

#Loader > form{        
    font-size: small;
}

#Overview {
    box-sizing: border-box;
    float: right;
    margin-left: 0.5cm;
    width: 70%;
}

#Overview-Table {
  border-collapse:collapse;
}

#Overview-Table td {
    background-color: rgba(4, 36, 4, 0.5);
    border-top: solid rgba(4, 36, 4, 0.72) 1px;
    padding-left: 0.3cm;
}

#Overview-Table th {
    background-color: rgba(4, 36, 4, 0.72);
}

#Overview-Table th:first-child {
    border-radius: 15px 0 0 0;
}

#Overview-Table th:last-child {
    border-radius: 0 15px 0 0;
}

#Overview-Table tr:only-child th:first-child{
    border-radius: 15px 0 0 15px;
}

#Overview-Table tr:only-child th:last-child{
    border-radius: 0 15px 15px 0;
}

#Overview-Table tr:last-child td:first-child{
    border-radius: 0 0 0 15px;
}

#Overview-Table tr:last-child td:last-child{
    border-radius: 0 0 15px 0;
}

#Overview-Table td:last-child {
    font-size: small;
    margin-left: 0;
}
/*--------------------------------------------------------Home-------------------------------------*/
#Home-Text{
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 26, 0, 0.4);
    padding: 0.3cm;
    margin-top: 1cm;
}

#Home-Text a:link{
    color: rgba(0, 26, 0, 0.6);
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
}

#Home-Text a:hover{
    color: rgba(0, 26, 0, 0.4);
}
/*-----------------------------Neighbortable-----------------------------------*/
#Neighbortable {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#Neighbortable-Table {
    border-collapse:collapse;
}

#Neighbortable-Table th {
    background-color: rgba(4, 36, 4, 0.72);
}

#Neighbortable-Table td {
    border: solid 1px rgba(4, 36, 4, 0.72);
}

#Neighbortable-Table #good {
    background-color: rgba(0, 153, 0, 0.8);
}
#Neighbortable-Table #ok {
    background-color: rgba(255, 255, 128, 0.7);
}

#Neighbortable-Table #bad {
    background-color: rgba(139, 0, 0, 0.8);
}

#Neighbortable-Table #equal {
    background-color: rgba(191, 191, 191, 0.8);
}

#Neighbortable-Table #tr-0 th:first-child {
    background-color: transparent;
}

#Neighbortable-Table th:first-child {
    text-align: right;
    width: auto;
    padding-left: 0.3cm;
}

#Neighbortable-Table #tr-0 th:nth-child(2) {
    border-radius: 15px 0 0 0;
}
    
#Neighbortable-Table #tr-0 th:last-child {
    border-radius: 0 15px 0 0;
}

#Neighbortable-Table #tr-0 th:nth-child(2):last-child {
    border-radius: 15px 15px 0 0;
}

#Neighbortable-Table tr:nth-child(2) th{
    border-radius: 15px 0 0 0;
}

#Neighbortable-Table tr:last-child th{
    border-radius: 0 0 0 15px;
}

#Neighbortable-Table tr:nth-child(2):last-child th{
    border-radius: 15px 0 0 15px;
}

.NBT-0 {             
    white-space: nowrap;
    width: 0.7cm;
    height: 2.5cm;
    font-size: small;
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -ms-transform: rotate(-90.0deg);  /* IE9+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
    transform: rotate(-90.0deg);  /* Standard */
    -webkit-transform-origin: 90px 85px;
    -moz-transform-origin: 90px 85px;
    -o-transform-origin: 90px 85px;
    -ms-transform-origin: 90px 85px;
    transform-origin: 90px 85px;
}

#Neighbortable-Legend tr td:first-child{
    width: 0.7cm;
    border: solid 1px rgba(4, 36, 4, 0.72);
}

#Neighbortable-Legend tr:first-child td:first-child{
    background-color: rgba(0, 153, 0, 0.8);
}

#Neighbortable-Legend tr:nth-child(2) td:first-child{
    background-color: rgba(255, 255, 128, 0.7);
}

#Neighbortable-Legend tr:nth-child(3) td:first-child{
    background-color: rgba(139, 0, 0, 0.8);
}

#Neighbortable-Legend tr:last-child td:first-child{
    background-color: rgba(191, 191, 191, 0.8);
}

#Neighbortable-Legend tr td:last-child{
    text-align: left;
    border: none;
}

/*-------------------------------Evaluator------------------------------------*/
#Evaluator-Value {
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    height: 5cm !important;
    background-color: rgba(0, 26, 0, 0.4);
    float: left;
}

#Evaluator-Value table{
    margin-bottom: 0.5cm;
    border-radius: 15px;
}

/*---------------------------------Planner------------------------------------*/
#Planner-Row-Table {
    border-collapse:collapse;
    width: 60%;
}

#Planner-Row-Table th {
    background-color: rgba(4, 36, 4, 0.5);
    padding: 0.3cm;
}

#Planner-Row-Table tr > td{
    border-left: solid 1px rgba(4, 36, 4, 0.72);
    border-right: solid 1px rgba(4, 36, 4, 0.72);
}

#Planner-Row-Table tr:first-child th{
    border-radius: 15px 15px 0 0;
}

#Planner-Row-Table tr:last-child th{
    border-radius: 0 0 15px 15px;
}

#Planner-Row-Table tr:only-child th{
    border-radius: 15px;
}

/*---------------------------------Seasons------------------------------------*/
#Seasons {
    box-sizing: border-box;
    width: 100%;
}

#Seasons-Table {
     border-collapse:collapse;
}

#Seasons-Table th{
    font-size: xx-small;
    background-color: rgba(4, 36, 4, 0.72);
    border: solid 1px rgba(4, 36, 4, 0.72);
    border-top: none;
}

#Seasons-Table th:first-child{
    border-radius: 15px 0 0 0;
    padding-left: 0.2cm;
    font-size: medium;
    border-left: none;
}

#Seasons-Table th:last-child{
    border-radius: 0 15px 0 0;
    border-right: none;
}

#Seasons-Table td{
    background-clip: padding-box;
    background-color: rgba(0, 26, 0, 0.4);
    padding-top: 0.2cm;
    padding-bottom: 0.2cm; 
}

#Seasons-Table tr:nth-of-type(4n+2) td:first-child{
    font-size: small;
    border-bottom: solid 1px rgba(4, 36, 4, 0.72);
    padding-left: 0.2cm;
}

#Seasons-Table tr:nth-of-type(4n+1) td {
    border-bottom: solid 1px rgba(4, 36, 4, 0.72);
}

#Seasons-Table tr:nth-of-type(4n) td:nth-of-type(3n+1) {
    border-left: solid 1px rgba(4, 36, 4, 0.72);
}

#Seasons-Table tr:nth-of-type(4n+1) td:nth-of-type(3n+1) {
    border-left: solid 1px rgba(4, 36, 4, 0.72);
}

#Seasons-Table tr:nth-of-type(4n+2) td:nth-of-type(3n+2) {
    border-left: solid 1px rgba(4, 36, 4, 0.72);
}

#Seasons-Table tr:nth-of-type(4n+3) td:nth-of-type(3n+1) {
    border-left: solid 1px rgba(4, 36, 4, 0.72);
}

/*--------------------------------Dictionary----------------------------------*/
#Prime-Selection {
    margin-top: 1cm;
    border-radius: 15px;
    background-color: rgba(0, 26, 0, 0.4);
    padding: 0.3cm;
}

#Plant-Profile {
    box-sizing: border-box;
    float: right;
    margin-left: 0.5cm;
    margin-top: 1cm;
    padding: 0.3cm;
    border-radius: 15px;
    background-color: rgba(0, 26, 0, 0.4);
    width: 70%;
}

#Plant-Profile-Table td:first-child{
    font-size: medium;
    width: 33%;
    padding-left: 0.3cm;
}

#Plant-Profile-Table td:last-child{
    font-size: medium;
    width: 66%;
    padding: 0.3cm 0cm;
}
/*----------------------------------About-------------------------------------*/
.About {
    border-radius: 15px;
    background-color: rgba(0, 26, 0, 0.4);
    padding: 0.3cm;
    margin-top: 1cm;
    text-align: justify;
}

/*--------------------------------Impressum-----------------------------------*/
#Impressum-Adress {
    text-align: center;
    width: 40%;
    border-radius: 15px;
    background-color: rgba(0, 26, 0, 0.4);
    padding: 0.3cm;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1cm;
}

#Impressum-Adress > .Nav-Button{
    border-radius: 15px;
    background-color: rgba(4, 36, 4, 0.72);
    text-align: center;
    padding: 0.2cm 0;
    margin: 0.2cm auto;
    width: 60%;
}

#Impressum-Adress > .Nav-Button:hover{
    background-color: rgba(4, 36, 4, 0.4);
}